<div class="content-container">
  <h2 class="content-title">Game History</h2>

  <div class="ranking-container">
      <table class="ranking-table">
      <thead>
          <tr>
          <th>Rank</th>
          <th>Winner</th>
          <th>Pieces Left</th>
          <th>Game Mode</th>
          <th>AI Difficulty</th>
          <th>Score</th>
          </tr>
      </thead>
      <tbody>
      </tbody>
      </table>
  </div>
  <div class="button-group">
      <button type="button" id="backBtn">Back</button>
  </div>
  </div>